<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>

<div th:fragment="content-sidebar">

    <!-- Profile sidebar navigation -->
    <a onclick="myAccFunc()" href="javascript:void(0)"
       class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Profile <i class="fa fa-caret-down"></i>
    </a>

    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">

        <button class="w3-bar-item w3-button" onclick="openSection('Info')">Info</button>
        <button class="w3-bar-item w3-button" onclick="openSection('Bookmarks')">Bookmarks</button>
        <button class="w3-bar-item w3-button" onclick="openSection('Filters')">Filters</button>

    </div>

</div>

<div th:fragment="content-main">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">


        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p class="w3-left" th:text="${user.username + ' profile.'}"></p>

            <!-- Search section -->
            <div class="w3-right w3-padding-16">

                <div id="Search" class="section w3-container w3-row w3-animate-right" style="display:none">

                    <form action="/search/all" method="get">

                        <div class="form-group w3-half">
                            <input type="text" class="w3-input w3-bar-item" name="searchTerm"
                                   placeholder="Search"/>
                        </div>

                        <button type="submit"
                                class="link-button w3-bar-item w3-button w3-quarter"><i
                                class="fa fa-chevron-right"></i></button>

                        <button type="button" class="w3-bar-item w3-button w3-quarter" onclick="closeSearch()"><i
                                class="fa fa-close"></i>
                        </button>

                    </form>


                </div>

                <button id="SearchOpen" class="w3-bar-item w3-button w3-animate-right w3-padding-large" onclick="openSearch()"><i
                        class="fa fa-search"></i>
                </button>

                <script>
                    function openSearch() {
                        document.getElementById("Search").style.display = "inline-block";
                        document.getElementById("SearchOpen").style.display = "none";
                    }

                    function closeSearch() {
                        document.getElementById("Search").style.display = "none";
                        document.getElementById("SearchOpen").style.display = "inline-block";
                    }

                </script>

            </div>

        </header>

        <div id="Info" class="section w3-container w3-animate-right">
            <header class="w3-container">
                <h2 class="w3-left">User Info</h2>

                <button id="update-profile" class="w3-button w3-padding-24 w3-right"><i
                        class="w3-xlarge fa fa-pencil"></i></button>
                <!--<a href="/auth/update"
                   class="w3-button w3-right w3-xlarge"></a>-->
            </header>
            <table class="w3-table-all w3-centered">
                <tr>
                    <td>Email:</td>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td th:text="${user.username}"></td>
                </tr>

                <tr th:if="${user.birthDate != null}">
                    <td>Birth Date:</td>
                    <td th:text="${user.birthDate}"></td>
                </tr>
                <tr th:if="${user.gender != null}">
                    <td>Gender:</td>
                    <td th:text="${user.gender.name}"></td>
                </tr>
                <tr th:if="${user.registrationDate != null}">
                    <td>Registration Date:</td>
                    <td th:text="${user.registrationDate}"></td>
                </tr>
                <tr th:if="${user.country != null}">
                    <td>Country:</td>
                    <td th:text="${user.country.name}"></td>
                </tr>
            </table>
        </div>

        <div id="Bookmarks" class="section w3-container w3-animate-right" style="display:none">
            <h2>Bookmarks</h2>

            <p th:if="${bookmarks == null}">You don't have any bookmarks.</p>

            <table th:if="${bookmarks != null}" class="w3-table-all w3-centered">

                <tr>
                    <th>Name</th>
                    <th>Created Date</th>
                    <th>Link</th>
                </tr>
                <div th:each="bookmark : ${bookmarks}">
                    <tr>
                        <td th:text="${bookmark.product.name + ' ' + bookmark.product.brandName}"></td>
                        <td th:text="${bookmark.createdAt}"></td>
                        <td><a th:href="${'/product/summary?productId=' + bookmark.product.id}"
                               class="w3-button w3-block" target="_blank">Open</a></td>
                    </tr>
                </div>
            </table>

        </div>

        <div id="Filters" class="section w3-container w3-animate-right" style="display:none">
            <header class="w3-container">
                <h2 class="w3-left">Filters</h2>

                <a id="create-filter" href="/search/filter" class="w3-button w3-padding-24 w3-right"><i
                        class="w3-xlarge fa fa-plus"></i></a>

            </header>
            <p th:if="${filters == null}">You don't have any filters.</p>

            <div th:each="filter : ${filters}">
                <div class="w3-card-4 ">

                    <header class="w3-container w3-black">

                        <h3 class="w3-left" th:if="${filter.category != null}" th:text="${filter.category.name}"></h3>

                        <h3 class="w3-left" th:if="${filter.gender != null}" th:text="${filter.gender.name}"></h3>

                    </header>
                    <p class="w3-padding-24 w3-center" th:if="${filter.productList == null}">We didn't found any
                        products matching
                        this search term.</p>

                    <div class="w3-row" th:if="${filter.productList != null}">

                        <tr th:each="product : ${filter.productList}">
                            <div class="w3-col l3 s6">


                                <div class="w3-container w3-padding-large w3-hover-shadow">
                                    <div class="w3-display-container">
                                        <img class="product-prev-image w3-padding-24" th:src="${product.mainImageLink}">

                                        <p>
                                        <div th:text="${product.name + ' ' + product.brandName}"></div>
                                        <b>
                                            <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                                        </b>
                                        </p>

                                        <div class="w3-display-middle w3-display-hover">
                                            <a th:href="${'/product/summary?productId=' + product.id}"
                                               class="w3-button w3-black" target="_blank">Watch now <i
                                                    class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </tr>
                    </div>


                </div>
            </div>
        </div>

        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openSection('Info')">Info</button>
            <button class="w3-bar-item w3-button" onclick="openSection('Bookmarks')">Bookmarks</button>
            <button class="w3-bar-item w3-button" onclick="openSection('Filters')">Filters</button>
        </div>

        <script>
            function openSection(sectionName) {
                var i;
                var x = document.getElementsByClassName("section");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                document.getElementById(sectionName).style.display = "block";
            }
        </script>

        <div th:insert="footer"></div>

        <!-- End page content -->

    </div>
</div>
</body>
</html>