<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">


<body>

<div th:fragment="content-sidebar">


</div>

<div th:fragment="content-main">

    <!-- TODO FIX error during parsing this page, when validation error pops up. -->

    <!-- !PAGE CONTENT! -->
    <div th:fragment="content" class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="page-header w3-container w3-xlarge">
            <p class="w3-center">Sign Up</p>
        </header>

        <form th:action="@{/registration}" method="post"
              class="form-sign w3-center w3-container w3-padding-64 w3-large w3-text-grey" th:object="${user}">
            <div class="form-group">
                <input type="text" class="form-control w3-input" id="email" th:field="*{email}" placeholder="Email"/>
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <input type="text" class="form-control w3-input" id="username" th:field="*{username}"
                       placeholder="Username"/>
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <input type="password" class="form-control w3-input" th:field="*{password}" id="password"
                       placeholder="Password"/>
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="form-group">
                <input type="password" class="form-control w3-input" th:field="*{confirmPassword}" id="confirmPassword"
                       placeholder="Confirm Password"/>
                <ul>
                    <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                </ul>
            </div>

            <input class="btn btn-success btn-block w3-button" type="submit" value="Sign Up"/>
        </form>

    </div>
</div>
</body>
</html>

