<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div  class="page-header">
        <h2 class="text-center">Sign Up</h2>
    </div>
    <form th:action="@{/registration}" method="post" class="form-sign" th:object="${user}">
        <div class="form-group">
            <label class="control-label" for="email">Электропочта</label>
            <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Электропочта" />
        </div>
        <div class="form-group">
            <label class="control-label" for="username">User Name</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username" />
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password" />
        </div>

        <input class="btn btn-success btn-block" type="submit" value="Sign Up"/>
    </form>
</div>
</body>
</html>