<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:include="layout :: page">

<link rel="stylesheet" type="text/css" media="all" th:href="@{css/theme.css}"/>

<body>

<!-- TODO fix sidebar left align -->
<div th:fragment="content-sidebar">

    <!-- CATEGORIES SIDEBAR LINKS -->
    <a th:unless="${errorCategoriesAreEmpty}" onclick="myAccFunc()" href="javascript:void(0)"
       class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Categories <i class="fa fa-caret-down"></i>
    </a>

    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">

        <tr th:each="category : ${categories}">

            <a th:href="${'/category?categoryId=' + category.id + '&page=1'}" class="w3-bar-item w3-button"
               th:text="${category.name}"></a>

        </tr>

    </div>

</div>

<div th:fragment="content-main">


    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">


        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p class="w3-left" th:text="${product.name + ' ' + product.brandName}"></p>

            <!-- Search section -->
            <div class="w3-right w3-padding-16">

                <div id="Search" class="section w3-container w3-row w3-animate-right" style="display:none">

                    <form action="/search/all" method="get">

                        <div class="form-group w3-half">
                            <input type="text" class="w3-input w3-bar-item" name="searchTerm"
                                   placeholder="Search"/>
                        </div>

                        <button type="submit"
                                class="link-button w3-bar-item w3-button w3-quarter"><i
                                class="fa fa-chevron-right"></i></button>

                        <button type="button" class="w3-bar-item w3-button w3-quarter" onclick="closeSearch()"><i
                                class="fa fa-close"></i>
                        </button>

                    </form>


                </div>

                <button id="SearchOpen" class="w3-bar-item w3-button w3-animate-right w3-padding-large" onclick="openSearch()"><i
                        class="fa fa-search"></i>
                </button>

                <script>
                    function openSearch() {
                        document.getElementById("Search").style.display = "inline-block";
                        document.getElementById("SearchOpen").style.display = "none";
                    }

                    function closeSearch() {
                        document.getElementById("Search").style.display = "none";
                        document.getElementById("SearchOpen").style.display = "inline-block";
                    }

                </script>

            </div>
        </header>


        <!-- PRODUCT INFO -->
        <div class="w3-container w3-row-padding">
            <!-- PRODUCT IMAGES CARD -->
            <div class="w3-card-4 w3-col w3-half" style="max-width:500px;">
                <img class="mySlides" th:src="${product.mainImageLink}" style="width:100%">
                <tr th:each="image : ${productImages}">
                    <img class="mySlides" th:src="${image.imageUrl}" style="width:100%">
                </tr>

                <div class="w3-row-padding w3-section">
                    <div class="w3-col s4">
                        <img class="demo w3-opacity w3-hover-opacity-off" th:src="${product.mainImageLink}"
                             onclick="currentDiv(1)">
                    </div>

                    <div th:each="image,itrStat : ${productImages}">
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" th:src="${image.imageUrl}"
                                 th:onclick="|currentDiv('${itrStat.index + 2}')|">
                        </div>
                    </div>
                </div>
            </div>

            <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }

                function currentDiv(n) {
                    showDivs(slideIndex = n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    var dots = document.getElementsByClassName("demo");
                    if (n > x.length) {
                        slideIndex = 1
                    }
                    if (n < 1) {
                        slideIndex = x.length
                    }
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
                    }
                    x[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " w3-opacity-off";
                }
            </script>

            <!-- PRODUCT INFO CARD -->
            <div class="w3-card-4 w3-col w3-half">

                <a th:href="${product.url}"
                   class="w3-button w3-block w3-black" target="_blank">Buy now <i
                        class="fa fa-shopping-cart"></i></a>

                <div sec:authorize="isAuthenticated()">

                    <a th:if="${userBookmark == null}" th:href="${'/product/bookmark?productId=' + product.id + '&action=add'}"
                       class="link-button w3-block w3-button w3-black">Add to
                        bookmarks <i class="fa fa-bookmark"></i></a>

                    <a th:if="${userBookmark != null}" th:href="${'/product/bookmark?productId=' + product.id + '&action=delete'}"
                       class="link-button w3-block w3-button w3-black">Remove from bookmarks <i class="fa fa-bookmark-o"></i></a>
                    <!--
                <form th:action="@{/product/bookmark}" method="post"
                      class="form-sign" th:object="${UserBookmark}">

                    <button type="submit" name="submit" value="value" class="link-button w3-block w3-button w3-black">Add to
                        bookmarks <i
                                class="fa fa-star"></i></button>

                </form>
                -->
                </div>

                <p class="w3-center">Information</p>

                <table class="w3-table-all w3-centered">
                    <tr>
                        <td>Retailer:</td>
                        <td th:text="${product.retailer.name}"></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td th:text="${product.name}"></td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td th:text="${product.category.name}"></td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td th:text="${product.price + ' ' + product.priceCurrency}"></td>
                    </tr>
                    <tr>
                        <td>Brand:</td>
                        <td th:text="${product.brandName}"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td th:text="${product.gender.name}"></td>
                    </tr>
                    <!-- TODO add another info -->

                </table>

                <p class="w3-center">Colors</p>

                <table class="w3-table-all w3-centered">

                <div th:each="productColour : ${productColours}">

                    <!-- Color names -->
                    <tr>
                        <div th:each="colourComposite : ${productColour.coloursComposite}">
                            <td width="50%" th:text="${colourComposite.colour.name}"></td>
                        </div>
                    </tr>

                    <!-- Colors -->
                    <tr>
                    <div th:each="colourComposite : ${productColour.coloursComposite}">
                        <td width="50%" th:bgcolor="${colourComposite.colour.hex}"></td>
                    </div>
                    </tr>
                </div>

                </table>

            </div>
        </div>

        <div th:insert="footer"></div>

        <!-- End page content -->
    </div>

</div>


</body>

</html>
