<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>

<div th:fragment="content-sidebar">

</div>

<div th:fragment="content-main">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <!-- TODO Check -->
            <p class="w3-left">Not Found!</p>
            <p class="w3-right">
                <i class="fa fa-search"></i>
            </p>
        </header>

        <div class="w3-container w3-text-grey w3-center">
            <p>There are nothing to show :(</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to index page!</a></p>
        </div>

    </div>


</div>
</body>
</html>