<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<body>

<!-- TODO fix sidebar left align -->
<div th:fragment="content-sidebar">


    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Categories <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <tr th:each="category : ${categories}">

            <a th:href="${'/category?categoryId=' + category.id + '&page=1'}" class="w3-bar-item w3-button"
               th:text="${category.name}"></a>

        </tr>
    </div>

</div>

<!--
    <div class="w3-padding-24 w3-large w3-text-grey" style="font-weight:bold">
        <a href="#" class="w3-bar-item w3-button">Shirts</a>
        <a href="#" class="w3-bar-item w3-button">Dresses</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
            Jeans <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
            <a href="#" class="w3-bar-item w3-button">Relaxed</a>
            <a href="#" class="w3-bar-item w3-button">Bootcut</a>
            <a href="#" class="w3-bar-item w3-button">Straight</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">Jackets</a>
        <a href="#" class="w3-bar-item w3-button">Gymwear</a>
        <a href="#" class="w3-bar-item w3-button">Blazers</a>
        <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
-->

<div th:fragment="content-main">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">


        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <!-- TODO Check -->
            <p class="w3-left" th:text="${currentCategory.name}">
            </p>

            <!-- Search section -->
            <div class="w3-right w3-padding-16">

                <div id="Search" class="section w3-container w3-row w3-animate-right" style="display:none">

                    <form action="/search/all" method="get">

                        <div class="form-group w3-half">
                            <input type="text" class="w3-input w3-bar-item" name="searchTerm"
                                   placeholder="Search"/>
                        </div>

                        <button type="submit"
                                class="link-button w3-bar-item w3-button w3-quarter"><i
                                class="fa fa-chevron-right"></i></button>

                        <button type="button" class="w3-bar-item w3-button w3-quarter" onclick="closeSearch()"><i
                                class="fa fa-close"></i>
                        </button>

                    </form>


                </div>

                <button id="SearchOpen" class="w3-bar-item w3-button w3-animate-right w3-padding-large" onclick="openSearch()"><i
                        class="fa fa-search"></i>
                </button>

                <script>
                    function openSearch() {
                        document.getElementById("Search").style.display = "inline-block";
                        document.getElementById("SearchOpen").style.display = "none";
                    }

                    function closeSearch() {
                        document.getElementById("Search").style.display = "none";
                        document.getElementById("SearchOpen").style.display = "inline-block";
                    }

                </script>

            </div>
        </header>

        <div th:if="${errorProductsAreEmpty}" class="w3-center w3-panel w3-red">
            There are no products. Visit this page later.
        </div>

        <div th:unless="${errorProductsAreEmpty}">

            <div class="w3-container w3-text-grey" id="jeans">
                <p th:text="${numberOfProducts + ' items'}"></p>
            </div>

            <!-- Product grid -->
            <div class="w3-row">
                <!-- First column -->
                <div class="w3-col l3 s6">

                    <tr th:each="product : ${products1col}">

                        <div class="w3-container w3-padding-large w3-hover-shadow">
                            <div class="w3-display-container">
                                <img class="product-prev-image w3-padding-24" th:src="${product.mainImageLink}">

                                <p>
                                <div class="product-prev-name" th:text="${product.name + ' ' + product.brandName}"></div>
                                <b>
                                    <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                                </b>
                                </p>

                                <div class="w3-display-middle w3-display-hover">
                                    <a th:href="${'/product/summary?productId=' + product.id}"
                                       class="w3-button w3-black" target="_blank">Watch now <i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>

                    </tr>

                </div>

                <!-- Second column -->
                <div class="w3-col l3 s6">

                    <tr th:each="product : ${products2col}">

                        <div class="w3-container w3-padding-large w3-hover-shadow">
                            <div class="w3-display-container">
                                <img class="product-prev-image w3-padding-24" th:src="${product.mainImageLink}">

                                <p>
                                <div class="product-prev-name" th:text="${product.name + ' ' + product.brandName}"></div>
                                <b>
                                    <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                                </b>
                                </p>

                                <div class="w3-display-middle w3-display-hover">
                                    <a th:href="${'/product/summary?productId=' + product.id}"
                                       class="w3-button w3-black" target="_blank">Watch now <i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>

                    </tr>

                </div>

                <!-- Third column -->
                <div class="w3-col l3 s6">
                    <tr th:each="product : ${products3col}">

                        <div class="w3-container w3-padding-large w3-hover-shadow">
                            <div class="w3-display-container">
                                <img class="product-prev-image w3-padding-24" th:src="${product.mainImageLink}">

                                <p>
                                <div class="product-prev-name" th:text="${product.name + ' ' + product.brandName}"></div>
                                <b>
                                    <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                                </b>
                                </p>

                                <div class="w3-display-middle w3-display-hover">
                                    <a th:href="${'/product/summary?productId=' + product.id}"
                                       class="w3-button w3-black" target="_blank">Watch now <i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>

                    </tr>
                </div>

                <!-- Fourth column -->
                <div class="w3-col l3 s6">
                    <tr th:each="product : ${products4col}">

                        <div class="w3-container w3-padding-large w3-hover-shadow">
                            <div class="w3-display-container">
                                <img class="product-prev-image w3-padding-24" th:src="${product.mainImageLink}">

                                <p>
                                <div class="product-prev-name" th:text="${product.name + ' ' + product.brandName}"></div>
                                <b>
                                    <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                                </b>
                                </p>

                                <div class="w3-display-middle w3-display-hover">
                                    <a th:href="${'/product/summary?productId=' + product.id}"
                                       class="w3-button w3-black" target="_blank">Watch now <i
                                            class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>

                    </tr>
                </div>
            </div>

            <!-- Pages control panel -->
            <div class="w3-display-container w3-dark-grey w3-padding-32">

                <div class="w3-display-container w3-display-middle" style="width:250px">
                    <a th:if="${isPrevPageExists}"
                       th:href="${'/category?categoryId=' + currentCategory.id + '&page=' + prevPage }"
                       class="w3-button w3-black w3-display-left">Back</a>
                    <a class="w3-large w3-display-middle" th:text="${page}"></a>
                    <a th:href="${'/category?categoryId=' + currentCategory.id + '&page=' + nextPage }"
                       class="w3-button w3-black w3-display-right">Next</a>
                </div>

            </div>
        </div>

        <div th:insert="footer"></div>

        <!-- End page content -->
    </div>

</div>

</body>
</html>
