<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">

<body>

<!-- TODO fix sidebar left align -->
<div th:fragment="content-sidebar">


    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Categories <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <tr th:each="category : ${categories}">

            <a href="" class="w3-bar-item w3-button" th:text="${category.name}"></a>

        </tr>
    </div>

</div>

<!--
    <div class="w3-padding-24 w3-large w3-text-grey" style="font-weight:bold">
        <a href="#" class="w3-bar-item w3-button">Shirts</a>
        <a href="#" class="w3-bar-item w3-button">Dresses</a>
        <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
            Jeans <i class="fa fa-caret-down"></i>
        </a>
        <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
            <a href="#" class="w3-bar-item w3-button">Relaxed</a>
            <a href="#" class="w3-bar-item w3-button">Bootcut</a>
            <a href="#" class="w3-bar-item w3-button">Straight</a>
        </div>
        <a href="#" class="w3-bar-item w3-button">Jackets</a>
        <a href="#" class="w3-bar-item w3-button">Gymwear</a>
        <a href="#" class="w3-bar-item w3-button">Blazers</a>
        <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
-->

<div th:fragment="content-main">



<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">


    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Hot</p>
        <p class="w3-right">
            <i class="fa fa-search"></i>
        </p>
    </header>

    <!-- Image header
    <div class="w3-display-container w3-container">
        <img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2016</h1>
            <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>
    -->

    <div class="w3-container w3-text-grey" id="jeans">
        <p>40 items</p>
    </div>

    <!-- Product grid -->
    <div class="w3-row w3-grayscale">
        <!-- First column -->
        <div class="w3-col l3 s6">

            <tr th:each="product : ${products1col}">

                <div class="w3-container">
                    <div class="w3-display-container">
                        <img th:src="${product.mainImageLink}" style="width:100%">
                        <div class="w3-display-middle w3-display-hover">
                            <a th:href="${product.url}" class="w3-button w3-black" target="_blank">Buy now <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <p>
                    <div th:text="${product.name}"></div>
                    <br>
                    <b>
                        <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                    </b>
                    </p>
                </div>

            </tr>

        </div>

        <!-- Second column -->
        <div class="w3-col l3 s6">

            <tr th:each="product : ${products2col}">

                <div class="w3-container">
                    <div class="w3-display-container">
                        <img th:src="${product.mainImageLink}" style="width:100%">
                        <div class="w3-display-middle w3-display-hover">
                            <a th:href="${product.url}" class="w3-button w3-black" target="_blank">Buy now <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <p>
                    <div th:text="${product.name}"></div>
                    <br>
                    <b>
                        <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                    </b>
                    </p>
                </div>

            </tr>

        </div>

        <!-- Third column -->
        <div class="w3-col l3 s6">
            <tr th:each="product : ${products3col}">

                <div class="w3-container">
                    <div class="w3-display-container">
                        <img th:src="${product.mainImageLink}" style="width:100%">
                        <div class="w3-display-middle w3-display-hover">
                            <a th:href="${product.url}" class="w3-button w3-black" target="_blank">Buy now <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <p>
                    <div th:text="${product.name}"></div>
                    <br>
                    <b>
                        <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                    </b>
                    </p>
                </div>

            </tr>
        </div>

        <!-- Fourth column -->
        <div class="w3-col l3 s6">
            <tr th:each="product : ${products4col}">

                <div class="w3-container">
                    <div class="w3-display-container">
                        <img th:src="${product.mainImageLink}" style="width:100%">
                        <div class="w3-display-middle w3-display-hover">
                            <a th:href="${product.url}" class="w3-button w3-black" target="_blank">Buy now <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <p>
                    <div th:text="${product.name}"></div>
                    <br>
                    <b>
                        <div th:text="${product.price + ' ' + product.priceCurrency}"></div>
                    </b>
                    </p>
                </div>

            </tr>
        </div>
    </div>

    <div th:insert="footer"></div>

    <!-- End page content -->
</div>

</div>

</body>
</html>
